<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>아빠의 농장</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
<!-- Header를 위한 fragment -->
<div th:fragment="header">
    <div class="header">
        <div class="header-title">FARM</div>
        <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
            <button sec:authorize="isAuthenticated()" class="login-button" type="submit">Logout</button>
            <button sec:authorize="isAnonymous()" th:href="@{/loginForm}" class="login-button" type="submit">Login</button>
        </form>
    </div>
    <div class="nav-bar">
        <a href="/shop">구매하기</a>
        <a href="/tip/list">농사꿀팁</a>
    </div>
</div>
</body>

</html>

