/* 기본 스타일 초기화 */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* 전체 배경 및 페이지 중앙 정렬 */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
    text-align: center;
}

/* header 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.headerTitle {
    font-size: 24px;
    font-weight: bold;
}

.login-button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #6A24FE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 네비게이션 바 스타일 */
.nav-bar {
    margin-top: 10px;
    background-color: #333;
    overflow: hidden;
}

.nav-bar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

.nav-bar a:hover {
    background-color: #575757;
}

/* 컨테이너 스타일 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #6A24FE;
    color: white;
}

td {
    background-color: #F9F9F9;
}

tr:nth-child(even) td {
    background-color: #f1f1f1;
}

tr:hover td {
    background-color: #f1f1f1;
}

/* 페이지 제목 스타일 */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* 링크 스타일 */
a {
    color: #6A24FE;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    text-align: center;
}

a:hover {
    color: #4E1CC3;
    text-decoration: underline;
}
