<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<hr/>
<form id="joinForm">
    이메일: <input type="text" id="email" name="email">  <br/>
    비밀번호: <input type="password" id="password" name="password">  <br/>
    비밀번호 확인: <input type="password" id="confirm" name="confirm">  <br/>
    이름: <input type="text" id="name" name="name">  <br/>
    핸드폰 번호: <input type="text" id="phoneNumber" name="phoneNumber">  <br/>
    <button type="button" onclick="submitForm(event)">회원가입</button>
</form>

<script>
    function submitForm(event) {
        event.preventDefault();
        const data = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value,
            name: document.getElementById('name').value,
            phoneNumber: document.getElementById('phoneNumber').value
        };

        fetch('/api/user/auth/join', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(resData => {
                if(resData.code = 200){
                    alert('회원가입이 완료되었습니다.');
                    window.location.href = '/loginForm';
                }
                else{
                    alert('회원가입 실패');
                }

            })
            .catch(err => console.error(err));
    }
</script>
</body>
</html>