<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${#authentication.name}">  << 이름</p>
</body>
</html>


<script>
    // 로그인 상태 확인 함수
    function checkLoginStatus() {
        fetch('/api/user/status', {
            method: 'GET',
            credentials: 'include' // 쿠키를 포함하여 요청
        })
            .then(response => response.json())
            .then(data => {
                const authButton = document.getElementById("authButton");

                if (data.code === 200) {
                    // 로그인 상태이면 버튼을 'Logout'으로 변경
                    authButton.textContent = 'Logout';
                    authButton.href = '/logout'; // 로그아웃 엔드포인트로 설정
                } else {
                    // 로그아웃 상태이면 버튼을 'Sign up'으로 설정
                    authButton.textContent = 'Log In';
                    authButton.href = '/loginForm'; // 로그인 페이지로 이동
                }
            })
            .catch(error => console.error('Error:', error));
    }

    // 페이지 로딩 시 로그인 상태 확인
    document.addEventListener('DOMContentLoaded', function() {
        checkLoginStatus();
    });
</script>