<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/tipBoard.css}" />
    <div th:replace="~{fragments/header :: header}"></div>

<style>
    button{
        padding: 10px 20px;
        font-size: 14px;
        color: white;
        background-color: #6A24FE;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 5px;
    }
    button:hover {
        background-color: #4E1CC3;
    }
</style>
<!-- 헤더 부분을 포함 -->

</head>
<body>
<h1> 꿀팁 게시판 </h1>
<!--<div class = "container">-->
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>조회수</th>
                <th>작성자</th>
            </tr>
        </thead>
        <tbody id = "tipTableBody">
        </tbody>
    </table>
<!--</div>-->
<button sec:authorize="isAuthenticated()" id="insert_btn" onclick="window.location.href='/tipForm'">꿀팁 추가</button>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        fetch('/api/tip/list')
            .then(res => res.json())
            .then(resData => {
                if (resData.code === 200){
                    const tipList = resData.data;
                    const tableBody = document.getElementById('tipTableBody');

                    tipList.forEach(tip => {
                        const row = document.createElement('tr');
                        row.innerHTML  = `
                                <td>${tip.id}</td>
                                <td>${tip.tipTitle}</td>
                                <td>${tip.tipHits}</td>
                                <td>${tip.tipWriter}</td>
                            `;
                        row.setAttribute('data-id', tip.id);  // 각 row에 data-id 속성 추가
                        row.style.cursor = 'pointer';  // 클릭 가능한 느낌을 주기 위해 커서 변경

                        // 클릭 이벤트 추가
                        row.addEventListener('click', function() {
                            const tipId = row.getAttribute('data-id');
                            window.location.href = `/tip/detail/${tipId}`;  // 상세 페이지로 이동
                        });

                        tableBody.appendChild(row);
                    })
                }
            })
            .catch(error => console.error('Error:', error));
    })

</script>
</html>